h1 {font:  bold 200% verdana}
h2 {font:  bold 150% Segoe Print, Verdana, Arial, Helvetica, sans-serif}
h3 {font:  italic  110% verdana}
h4 {font:  Verdana}

h2 {
text-indent: 15px; letter-spacing: 2px;
margin: 15px 30px 5px 30px;
}
h6 {font-family: Verdana;
}

.style1 {color: #FF0000; font-weight: bold;}
.style2 {color: #999999; font-family: Verdana, Arial, Helvetica, sans-serif}
.style3 {font-family: Verdana, Arial, Helvetica, sans-serif}

p {
font-family:Verdana;  letter-spacing: 0px;
margin: 15px 30px 5px 30px;
}
P { color: #494949 }
h1{ color: #a52a2a }
h2{ color: #191970 }
h3{ color: #ffffff }

a.links {
font-family:Verdana;
text-decoration:none;
color: #0000ff;
}

a.links:hover{
font-weight:bold;
font-family:Verdana;
text-decoration:none;
}

/*linie*/
.signature {
	font-size:85%;
	padding:5px;
	border-top:1px dotted #000000;
	margin-top:5px;
}

/*Anfang den Links-Block*/
p.title {
background-color: #A72E37;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 0px solid gray; /*Style des Borders */
border-bottom-width: 0;
width: 93%; /*Breite Menu */
  /*Hintergrund ja4ejki*/
margin:8px; /*breite otstupov*/
}

* html #coolmenu{ 
width: 150px;/*Menu breite for Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Schrift teksta*/
padding: 2px; /*Vnutrennij otstup teksta ssylki ot kraev ja4ejki*/
padding-left: 4px;/*Vnutrennij otstup teksta ssylki ot levogo kraja ja4ejki*/
display: block;
width: 100%; /*Schirina ja4ejki*/
color: #000000;  /*Zvet tekcta*/
text-decoration: none; /*Links unterstreichung*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #5bbbff; /*Farbe des hintergrundes beim Mauszeiger*/
color: #ffffff;  /*Farbe des textes beim Mauszeiger*/
}
/*ende Links-Block*/

